* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  border: 2px solid #12022f;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
}
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-height: 600px;
}
.heading {
  color: #12022f;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
}
.content-img{
  width : 60%;
  max-width: 200px;
}